body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'nav content';
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 78, 78);
}

.nav-link {
    text-decoration: none;
    color: black;
}

div {
    background-color: rgb(245, 245, 245);
    padding: 20px 10px 20px 10px;
    color: rgb(85, 84, 84);
}

#navbar {
    grid-area: nav;
    border-right: 3px solid grey;
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    align-content: start;
    height: 100%;
    position: fixed;
    overflow: auto;
    width: 25%;
}

.nav-link {
    border-top: 1px solid grey;
    padding: 10px 20px 10px 20px;
    font-size: 1.1em;
}

h1 {
    padding: 10px 20px 10px 20px;
}

.nav-link:hover {
    background-color: rgba(36, 36, 36);
    color: white;
}

#main-doc {
    grid-area: content;
    padding: 50px;
    margin-left: 25%;
}

h1, h2 {
    color: black;
}

@media (max-width: 600px) {
    body {
        font-size: smaller;
    }
}